.wrapper{
  width:200px;
}

input{
  height:30px;
  width:170px;
  text-align: right;
  font-size:20px;
}

button{
  height:40px;
  width:40px;
}

.operator{
  background-color:orange;
  color:white;
  border-color:#EEEEEE;
}